body {
    align-items: center;
    justify-content: center;

}

.container{
    position:absolute ;
    align-items: center;
    justify-content: center;
    border: 3px dodgerblue solid ;
    width: 70vw;
    height: 30vw;
    background-color: white;
    left: 15%;
    top: 10vw;
}

.img{
    
    height: 30vw;
    width: 70vw;
}

.right{
      padding: 0.5vw;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: dodgerblue;
      border: none;
      border-radius: 1vw;
      font-size: 2vw;
      font-weight: bold;
      position: absolute;
      right: 9vw;
      top: 25vw;
      margin: 1vw;
}



.left{
    padding: 0.5vw;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 1vw;
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    left: 10vw;
    top: 25vw;
    margin: 1vw;


}





